# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    gripper_controller:
      type: position_controllers/GripperActionController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

arm_controller:
  ros__parameters:
    joints:
      - joint1
      - joint2
      - joint3
      - joint4
      - joint5
      - joint6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity

    open_loop_control: true
    allow_integration_in_goal_trajectories: true

    allow_nonzero_velocity_at_trajectory_end: true
    constraints:
      goal_time: 0.0
    allow_partial_joints_goal: true
    
gripper_controller:
  ros__parameters:
    joint: finger_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity